
!
! Cisco 48 port switch configuration
!
hostname {{ hostname }}
!
ip domain-name {{ domain_name }}
ip name-server {{ dns_server}}
ntp server {{ ntp_server }}

username {{ admin_user }} privilege 15 password {{ admin_password }}
enable secret {{ enable }}
!
snmp-server community {{ snmp_ro }} RO
snmp-server community {{ snmp_rw }} RW
snmp ifmib ifindex persist
snmp mib persist cbqos
!
line vty 0 15
transport input telnet ssh
exec-timeout 30 0
password {{ tty_password }}
logging synchronous
login local
!
ip routing
!
ipv6 mld snooping

interface Loopback0
 description Management Interface
 ip address {{ management_ip }} 255.255.255.255
!
ip route 0.0.0.0 0.0.0.0 {{ management_gw }}
{# VLANS #}
vlan {{ vlanIdData }}
name {{ vlanNameData }}
vlan {{ vlanIdVoice }}
name {{ vlanNameVoice }}
vlan {{ vlanIdWireless }}
name {{ vlanNameWireless }}

{# Enduser_switch_interface #}
interface GigabitEthernet0/1-40
switchport vlan {{ vlanIdData }}
switchport voice vlan {{ vlanIdVoice }}
 spanning-tree portfast
 auto qos voip cisco-phone

 {# Wireless_Switch_Interface #}
interface GigabitEthernet0/41-48
 switchport mode trunk
 switchport trunk native vlan {{ vlanIdWireless }}
 spanning-tree portfast trunk
 auto qos trust dscp

{# Uplink_Switch_Interface #}
interface TenGigabit0/1
 switchport mode trunk
 auto qos trust dscp

{# Standard_Configuration #}
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service unsupported-transceiver
parser config cache interface
errdisable recovery cause all
errdisable recovery interval 120
crypto key generate rsa modulus 2048
ip ssh version 2
no vstack
lldp run
!
clock timezone CST -6
clock summer-time CDT recurring
logging buffered 15000
spanning-tree mode rapid-pvst
spanning-tree portfast bpduguard default
spanning-tree loopguard default
spanning-tree logging
spanning-tree pathcost method long

!
no ip http server
no ip http secure-server
snmp ifmib ifindex persist
snmp mib persist cbqos
!
end
